{% extends "base/header.html" %}

{% block content %}

<div class="container">
    <div class="pt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3">
                    <form action="" method="get">
                        <div class="card-body">
                            <h5 class="card-title"> Categorys </h5>
                            <ul class="list-menu">
                                {% for category in categorys %}
                                
                                <li>
                                    <input type="checkbox" name="category" class="category-checkbox" value="{{ category.name }}">
                                    <a href="#" id="categoryName">{{ category.name }} <span class="badge badge-pill badge-light float-right">{{ category.product_category.count }}</span></a>
                                </li>
                                
                                {% endfor %}
                            </ul>
                        </div>
                    </form>
                </div>

                <!-- <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Rating</h5>

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">
                            <div class="custom-control-label text-warning">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                        </label>

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">
                            <div class="custom-control-label text-warning">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </label>

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">
                            <div class="custom-control-label text-warning">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                        </label>

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" checked="" class="custom-control-input">
                            <div class="custom-control-label text-warning">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>

                            </div>
                        </label>

                    </div>
                </div> -->
            </div>

            <div class="col-md-9" id="productCard">
                <div class="row">
                    {% for product in products %}
                      
                    <div class="col-md-4">
                        <figure class="card card-product-grid">
                            <div class="img-wrap"> <img id="productImg" src="{{ product.product_images.all.first.image.url }}"> </div>
                            <figcaption class="info-wrap border-top">
                                <a href="#" class="title"> {{ product.name }} </a>
                                <div class="price mt-2">${{ product.price }}</div> <!-- price-wrap.// -->
                            </figcaption>
                        </figure> <!-- card // -->
                    </div> <!-- col.// -->
                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<Script>
    $(document).ready(function () {

        var categorys = []

        $('.category-checkbox').on('change', function () {
            var category = $(this).val();

            if($(this).prop('checked')) {
                if (categorys.indexOf(category) === -1) {
                    categorys.push(category);
                }
            }else {
                let index = categorys.indexOf(category);
                if (index !== -1) {
                    categorys.splice(index, 1)
                }
            }
            
            $.ajax({
                url:`{% url 'customer:filter' %}`,
                method:'GET',
                data:{
                    'categorys' : categorys
                },
                traditional: true,
                success:function(data) {
                    $('#productCard').html(data);

                }
            })
        })
    });
</Script>

{% endblock content %}