{% extends "customer/dashboard.html" %}
{% load static %}

{% block options %}

<link rel="stylesheet" href=" {% static '/css/user-profile.css' %} ">

<div id="popup-form" class="popup">
    <div class="popup-content">
      <span class="close">&times;</span>
  
      <h3>Add Address</h3>
  
      <form method="POST" action="#">
        {% csrf_token %}
        <textarea name="txt_address" class="form-control" placeholder="Add Address" id=""></textarea>
        <button type="submit" class="btn btn-primary mt-2 w-100">Add</button>
      </form>
    </div>
  </div>

    <div class="container" id="up">
        <div class="m-2" align="right">
            <i class="btn btn-light fa-duotone fa-solid fa-pen-to-square"></i>
        </div>
        <div class="container-top p-3">
            <img src="{{ request.user.profile.url }}" alt="">
            <div class="user-details">
                <span><p><b>Name : </b>{{ request.user.first_name }} {{ request.user.last_name }}</p></span>
                <span><p><b>Username : </b> {{ request.user.username }} </p></span>
                <span><p><b>Email : </b> {{ request.user.email }} </p></span>
                <span><p><b>Phone : </b> {{ request.user.phone }} </p></span>
            </div>
        </div>
        <div class="container-bottom">
            <div class="action mr-4" align="right">
                <button type="button" class="btn btn-link p-0 ml-2" data-toggle="modal"
                    data-target="#addAddressModal" id="popupBtn">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>

            <div class="user-address mt-1 p-3">
                {% for address in request.user.user_contacts.all %}
                    <div class="address">
                        <div class="action mb-2">
                            <i class="btn btn-light fa-duotone fa-solid fa-pen-to-square"></i>
                            <i class="btn btn-light fa fa-trash"></i>
                        </div>
                        {{ address.address }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
          $('#popupBtn').click(function () {
            $('#popup-form').fadeIn();
          });
      
          $('.close').click(function () {
            $('#popup-form').fadeOut();
          });
        });
      </script>
{% endblock options %}