<div class="col-md-9" id="productCard">
    <div class="row">
        {% for product in products %}

        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap"> <img id="productImg" src="{{ product.product_images.all.first.image.url }}">
                </div>
                <figcaption class="info-wrap border-top">
                    <a href="#" class="title"> {{ product.name }} </a>
                    <div class="price mt-2">${{ product.price }}</div> <!-- price-wrap.// -->
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col.// -->

        {% endfor %}
    </div>
</div>