{% extends "base/base.html" %}

{% block signup %}
<section class="section-conten" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top: 50px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Sign up</h4>
            {% include "base/alert.html" %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <input type="file" name="profile" class="form-control-file" id="inputProfilePhoto">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="first_name" class="form-control" id="inputFirstName4"
                            placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" name="last_name" class="form-control" id="inputLastName"
                            placeholder="Last Name">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="username" class="form-control" id="inputUsername"
                            placeholder="Username">
                    </div>
                    <div class="form-group col-md-6">
                        <select id="inputState" name="user_type" class="form-control">
                            <option selected>Choose...</option>
                            <option>Customer </option>
                            <option>Vendor </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email id">
                </div>
                <div class="form-group">
                    <input type="text" name="phone" class="form-control" id="inputLastName" placeholder="Phone Number">
                </div>

                <div class="form-group">
                    <textarea name="address" class="form-control" placeholder="Address...."
                        id="inputAddress"></textarea>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="password" name="password" class="form-control" id="inputPassword"
                            placeholder="Password">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" name="confirm_password" class="form-control" id="inputPassword"
                            placeholder="Confirm Password">
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Sign Up </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Already account <a href="{% url 'accounts:login' %}"> Log in </a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
{% endblock signup %}